
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #1B263B; /* Dark Blue background */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: white;
  padding: 20px;
  background-color: #1B263B; /* Dark Blue background */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Limit the width to prevent stretching */
  padding: 20px;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: auto;
  margin-right: 10px; /* Margin between logo and name */
}

.logo-name {
  color: #2ecc71; /* Emerald Green color */
  font-weight: bold;
  font-size: 60px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-button {
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.signup-button {
  background-color: #00FFB3; /* Neon Green */
  color: #1B263B; /* Dark Blue */
  border: 2px solid #1B263B;
}

.signin-button {
  background-color: #1B263B; /* Dark Blue */
  color: #00FFB3; /* Neon Green */
  border: 2px solid #00FFB3;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px; /* Limit the width to prevent stretching */
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.image-container {
  width: 60%;
  height: auto;
  max-width: 800px; /* Limit the width of the image */
}

.image-container img {
  width: 100%;
  height: auto; /* Maintain image aspect ratio */
  object-fit: contain;
}

.sub-heading {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  width: 60%;
  max-width: 800px; /* Limit the width to prevent stretching */
  text-align: center;
}
